body{
    background-color: #efefef;
}

.main{
    background-color: #ffffff;
    margin:30px;
}

.img-around{
    margin:5px;
    width:45px;
    height:45px;
}

.text-info{
    color:#999;
    font-size: 12px;
}

.text-error{
    margin-top: 15px;
}

 .icon{
    cursor: pointer;
    font-size:13px;

}

 .icon:hover{
    background-color: #499ef3;
}

.active{
    background-color: #499ef3;
}

 .collapse{

     border:1px solid #eee;
     border-radius: 5px;
     margin-top:10px;
 }

 .btn-comment{
   margin:0px 0px 15px 10px;
   float:right;
 }

.tag-text{
    margin-top:-15px ;
    margin-right: 5px;
    text-decoration: none;
    list-style: none;
}

