<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/css;charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css" >
    <script src="/js/jquery.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <title>Title</title>
</head>
<body>
<div th:insert="~{head::nav}"></div>

<div class="container-fluid main">
    <div class="row">

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h3><span th:text="${sectionName}"></span></h3>
            <hr>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='questions'}">
            <div class="media" th:each="question:${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-around" th:src="${question.user.avatarUrl}" alt="个人头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:text="${question.title}" th:href="@{'question/'+${question.id}}" style="text-decoration: none;"></a>
                    </h4>
                    <span th:text="${question.description}">点击进入查看视频</span><br>
                    <span class="text-info"><span th:text="${question.getCommentCount()}"></span>个回复
                          ●<span th:text="${question.viewCount}"></span>次浏览
                              ●<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
        </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='repies'}">
                <div class="media" th:each="notification :${pagination.data}">
                <div class="media-body" >
                    <p class="media-heading" >
                        <span th:text="${notification.notifierName +' '+ notification.typeName+' '}"></span>
                        <a  style="text-decoration: none;" th:text="${notification.outerTitle}"
                        th:href="@{'/notification/'+ ${notification.id}}"></a>
                    </p>
                </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{'/profile' +${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>

                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{'/profile/' +${section}(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:href="@{'/profile/' +${section}(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{'/profile/' +${section}(page=${pagination.page + 1})}" >
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{'/profile/' +${section}(page=${pagination.totalPage})}" >
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>

        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

            <div class="list-group" style="margin-top:25px;">
                <a href="/profile/questions" th:class="${section=='questions'}?'list-group-item active':'list-group-item'">我的问题</a>
                <a href="/profile/repies" th:class="${section=='repies'}?'list-group-item active':'list-group-item'">
                    最新回复 <span class="badge" th:text="${session.unReadCount}"></span></a>
            </div>

        </div>
    </div>
</div>

</body>
</html>