<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/css;charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css" >
    <script src="/js/jquery.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="http://momentjs.cn/downloads/moment.min.js" type="application/javascript"></script>
    <title >问题</title>
</head>
<body>

<div th:insert="~{head::nav}"></div>

<div class="container-fluid main">
    <div class="row">

            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

               <!--问题头部-->
                <h3><span th:text="${questionDTO.title}"></span></h3>
                    <span>
                作者：<span th:text="${questionDTO.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                阅读数：<span th:text="${questionDTO.viewCount}"></span>
            </span>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:3px">

                <!--问题内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size:16px"th:text="${questionDTO.description}"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a  th:href="@{'/publish/'+${questionDTO.id}}"  th:if="${session.user!=null&&session.user.id==questionDTO.creator}" >
                    <hr>
                    <span class="label label-info tag-text"  th:each="tag:${questionDTO.tag.split(',')}">
                         <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    <span th:text="${tag}"></span>
                    </span>

                    <h6><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right:10px;"></span>编辑</h6>
                </a>
            </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:25px;">

                <!-- 回复内容-->
                <h3 style="margin-bottom:-10px;"><span th:text="${questionDTO.commentCount}"></span>个回复</h3>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment" th:each="comment:${comments}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-around" th:src="${comment.user.avatarUrl}" alt="个人头像">
                        </a>
                    </div>
                    <div  class="media-body text-error" >
                        <h5 class="media-heading" style="margin-top:10px;">
                            <span th:text="${comment.user.name}"></span>
                        </h5>
                        <div th:text="${comment.content}"></div>
                        <span class="glyphicon glyphicon-thumbs-up icon" aria-hidden="true" style="margin-right:10px;"></span>
                        <span class="glyphicon glyphicon-comment icon" th:data-id="${comment.id}" th:text="${comment.commentCount}" onclick="collapseComment(this)"></span>
                        <span style="float:right" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                    </div>

                    <!--二级回复-->
                    <div th:id="${'comment-'+comment.id}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse">
                      <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment" th:each="comment:${comments}">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-around" th:src="${comment.user.avatarUrl}" alt="个人头像">
                                </a>
                            </div>
                            <div  class="media-body text-error" >
                                <h5 class="media-heading" style="margin-top:10px;" >
                                    <span th:text="${comment.user.name}"></span>
                                </h5>
                                <div th:text="${comment.content}"></div>
                                <span style="float:right" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                            </div>
                            <hr>
                    </div>  -->
                        <div class="form-group">
                            <input type="text" class="form-control"  th:id="${'input-'+comment.id}"  placeholder="请输入评论内容...">
                        </div>
                        <button type="submit" class="btn btn-default btn-comment" >取消</button>
                        <button type="submit" class="btn btn-success btn-comment" th:data-id="${comment.id}" onclick="commentPost2(this)" >评论</button>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>

           <!-- 回复栏 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="commentSection"
                 th:if="${session.user!=null}" style="margin-top: 15px;">
                <h4>提交回复</h4>
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-around" th:src="${session.user.avatarUrl}" alt="个人头像">
                    </a>
                </div>
                <div  class="media-body text-error"  >
                    <h5 class="media-heading" style="margin-top:10px;" >
                        <span th:text="${session.user.name}"></span>
                    </h5>
                </div>
                <input type="hidden" id="parentId" th:value="${questionDTO.id}">
                <div class="form-group">
                    <textarea class="form-control"  id="commentContent"  cols="30" rows="8"></textarea>
                </div>
                <button type="submit" class="btn btn-success" onclick="commentPost()" style="float:right; margin-bottom:15px;">回复</button>

           </div>
                <div class="form-group" th:if="${session.user==null}" style="margin-top: 20px;">

                    <span style="margin-left: 40%">要想回复问题请先<a href="https://github.com/login/oauth/authorize?client_id=0189163870a277c242af&redirect_url=http://localhost:8089/callback&scope=user&state=1&local=1">登录</a></span>
                </div>

            </div>

      <!--左边部分-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                <h4>发起人</h4>
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-around" th:src="${questionDTO.user.avatarUrl}" alt="个人头像">
                    </a>
                </div>
                <div  class="media-body text-error"  >
                    <h5 class="media-heading" style="margin-top:10px;" >
                        <span th:text="${questionDTO.user.name}"></span>
                    </h5>
                </div>
                <hr col-lg-12 col-md-12 col-sm-12 col-xs-12>
                <div class="form-group">
                    <label for="tag">邮件邀请他人回复：</label>
                    <input type="text" class="form-control" id="tag" name="tag"  placeholder="邮件邀请回复...">
                </div>
                <button type="submit" class="btn btn-success" style="float:right;">邀请</button>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                <hr col-lg-12 col-md-12 col-sm-12 col-xs-12>
                <h4>相关问题</h4>
                <ul>
                    <li class="li-text"  th:each="relate: ${relateQuestions}">
                        <a th:text="${relate.title}" th:href="@{'/question/' + ${relate.id}}"></a>
                    </li>
                </ul>
            </div>
            </div>
    </div>
</div>

</body>
</html>