<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgx.community.mapper.CommentExtMapper">
    <resultMap id="BaseResultMap" type="com.lgx.community.entity.Comment">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="commentor" jdbcType="INTEGER" property="commentor" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
        <result column="like_count" jdbcType="INTEGER" property="likeCount" />
        <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    </resultMap>

    <update id="addComment" parameterType="com.lgx.community.entity.Comment">
   update comment
   set
   COMMENT_COUNT=COMMENT_COUNT + #{commentCount,jdbcType=INTEGER}
   where id=#{id}
  </update>

</mapper>